<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
    <section th:replace="~{layout/frag/js :: js}"></section>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <title>수정</title>
</head>
<body>
<section layout:fragment="content" style="text-align: center" th:object="${User}">
    <form action="/" id="form"></form>
    <div class="middle-box text-center">
        <div class="col-lg-10">
            <h1>마이 페이지</h1>
        </div>
        <div class="col-md-10">
            <div><a>회원번호</a><a th:text="*{id}" id="id"></a> </div>
            <div><input type="text" id="name" th:placeholder="*{name}"></div>
            <div><input type="text" id="phone"
                        oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                        th:placeholder='*{phoneNum}'></div>
            <div><input type="text" id="email" th:value="*{email}" readonly></div>
            <div class="text-left">
                <input type="password" id="password1" placeholder="비밀번호">
                <input type="password" id="password2" placeholder="비밀번호 확인">
            </div>
            <br>
            <p id="errorBox"></p><br><br>
            <div>
                <div class="col-md-2 row-3">주소</div>
                <div class="col-md-8">
                    <!--<input type="text" id="sample6_postcode" placeholder="우편번호">-->
                    <!--<input type="text" id="sample6_extraAddress" placeholder="참고항목">-->
                    <input type="text" id="sample6_address" width="200px"
                           th:placeholder='*{address.substring(0,address.lastIndexOf("//")-1)}' readonly>
                    <input type="text" id="detailAddress"
                           th:placeholder='*{address.substring(address.lastIndexOf("//")+3)}'>
                    <input type="button" onclick="sample6_execDaumPostcode()" value="우편번호 찾기">
                </div>
            </div>
        </div>
        <br><br><br><br><br>
        <div style="text-align: right;">
            <a href="/">
                <button type="button">취소</button>
            </a>
            <button type="button" id="updUser">저장</button>
        </div>
        </form>
    </div>
</section>
<script>
    function sample6_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function (data) {

                var addr = '';
                var extraAddr = '';

                if (data.userSelectedType === 'R') {
                    addr = data.roadAddress;
                } else {
                    addr = data.jibunAddress;
                }

                if (data.userSelectedType === 'R') {
                    if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
                        extraAddr += data.bname;
                    }
                    if (data.buildingName !== '' && data.apartment === 'Y') {
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    if (extraAddr !== '') {
                        extraAddr = ' (' + extraAddr + ')';
                    }
                }

                document.getElementById("sample6_address").value = addr + " " + extraAddr;
                document.getElementById("detailAddress").focus();
            }
        }).open();
    }

    $("#sample6_address").keyup(function () {
        sample6_execDaumPostcode();
    })

    $(document).on('click', '#updUser', (e) => {
        if ($("#password1").val() !== $("#password2").val()) {
            alert("비밀번호가 일치하지 않습니다.");
            return;
        }
        var data = {
            id:$("#id").text(),
            name: ($("#name").val() == "") ? $("#name").attr('placeholder') : $("#name").val(),
            phoneNum: ($("#phone").val() == "") ? $("#phone").attr('placeholder') : $("#phone").val(),
            email: $("#email").val(),
            email: $("#email").val(),
            password: $("#password1").val(),
            address: (($("#sample6_address").val() == "") ? $("#sample6_address").attr('placeholder') : $("#sample6_address").val()) + " \/\/ " + (($("#detailAddress").val() == "") ? $("#detailAddress").attr('placeholder') : $("#detailAddress").val())
        };
        //console.log(data);
        data = JSON.stringify(data)


        $.ajax({
            url: "/updUser",
            type: "post",
            data: data,
            datatype: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                if (data == "성공하셨습니다.") $("#form").submit();
                alert(JSON.stringify(data));
            },
            fail: function (request, state, error) {
                console.log("code: " + request.status + ", message: " + request.responseText + ", ERRER: " + error);

            }
        })

    })

</script>